@import './../../styles/settings/index.scss';

.__bound {
    padding: .5rem 0;
    width: 100%;
}

.__form {
    appearance: none;
    border-radius: .5rem;
    background: $primary_light;
    font-family: $font;
    font-size: $h3;
    font-weight: $bold;
    line-height: 3.5rem;
    width: 100%;
    color: $white;
    border: 0;
    box-shadow: 0px 4px 8px rgba($primary_light, 0.2);
    cursor: pointer;
    transition: all ease-in 150ms;

    &:focus {
        outline-style: dashed;
        outline-width: 2px;
        outline-color: #46C1E9;
    }

    &:hover {
        background: $primary_dark;
        box-shadow: 0px 4px 8px rgba($primary_light, 0.4);
    } 
}