// Colors
$primary_neutral: #008CBA;
$primary_light: #46C1E9;
$primary_dark: #006587;
$black_neutral: #333333;
$black_light: #595959;
$black_dark: #101010;
$white: #FFFFFF;
$white_dark: #F0F0F0;

// Font Family
$font: 'Roboto', sans-serif;
$regular: 400;
$medium: 500;
$bold: 700;
$default_font_size: 16px;
$h1: 2rem;
$h2: 1.5rem;
$h3: 1rem;
$p: 1rem;
$small: .75rem;
$micro: .625rem;

@mixin hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important; 
    width: 1px !important; 
    overflow: hidden;
}